@font-face {
  font-family: 'segoe';
  src: url('../fonts/segoeuil.ttf') format('truetype');
}

body
{
    background: #e9e9e9;
    background: #5b1c79;
    margin: 0px;
    padding: 0px;
}

div 
{
    box-shadow: 0px 3px 6px 3px rgba(0,0,0,0.2);
    border:1px solid gray;
    border-radius:5px;
    display: inline-block;
    padding:30px;
    font-size: 16px;
    /*font: 20px Georgia, "segoe", Times, serif;*/
    font: 20px "segoe";
    width: 460px;
    margin: 60px auto;
    display: block;
    background: white;
    text-align: center;
}