@font-face{font-family:'segoe';src:url(../fonts/segoeuil.ttf) format("truetype")}body{padding:0;margin:0;font-family:"segoe";background-color:#0a2f5c}.bg{background-image:url(../images/bg_keyboard_blur.jpg);background-size:cover;background-position:50% 50%;background-size:cover;display:block;filter:blur(0px);-webkit-filter:blur(0px);height:100%;left:0;position:fixed;right:0;z-index:1}.content{background:rgba(0,0,0,0.85);border-radius:3px;box-shadow:0 1px 5px rgba(0,0,0,0.25);left:0;position:fixed;right:0;z-index:2;padding:0 10px;height:100%;opacity:0}.img{margin:0 auto;display:block;margin-top:40px}.img2{margin:0 auto;display:block;margin-top:150px}.config_logo{margin:12px auto;opacity:0}#welcom{opacity:0;color:#fff;text-align:center;width:600px;margin:30px auto}.text{display:inline-block;z-index:3;font-size:32px}.bottom_panel{opacity:0;height:75px;width:100%;position:absolute;bottom:0;padding:20px;text-align:right}.bottom_panel_2{color:#fff;opacity:0;padding:27px;padding-right:131px}.hello_button{background-color:transparent;color:#fff;transition:all 150ms ease-in}.hello_button:hover{background-color:#058cbc;color:#fff}
.final_link_panel
{
    opacity: 1;
    width: auto;
    float: right;
    display: block;
    right: 0;
}
.bottom_owner
{    
    left: 0;
    float: left;
    right: inherit;
}

.final_link
{
	color: white;
    bottom: 0;
    display: block;
    position: absolute;
    width: 100%;
    padding: 10px;
    padding-right: 25px;
}

.final_link_panel
{

}

.final_link_version
{
	text-decoration: none;
	width:auto;
	display: inline-block;
	padding-left: 15px;
}

.final_link_owner
{
	text-decoration: none;
	width:auto;
	display: inline-block;
	padding-left: 15px;
}

.final_link_docs
{
	text-decoration: none;
	width:auto;
	display: inline-block;
	padding-left: 15px;
}

.final_link_owner_a
{
	text-decoration: none;
	color: white;
}

.final_link_owner_a:hover
{
	color: deepskyblue;
	text-decoration: none;
}